<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{#if user}}
      <a href="/profile">Perfil</a>
      <a href="/logout">Logout</a>
      <a href="/parts">Catalogo</a>
      <a href="/stores">Tiendas</a>
      <a href="/edit_user">Editar usuario</a>
      {{else}}
      <p><a href="/login">Lorgin</a>or<a href="/signup">Signup</a></p>
    {{/if}}
    {{#if user}}
        {{user.username}}
    {{/if}}


    {{{body}}}


    <script src='/javascripts/script.js'></script>
  </body>
</html>
